<% include ../partials/header %>


<div class="container container-padding">
    <h2 class="text-center">Edit skill!</h2>
    <form action="/skills/<%= skill._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="skill[name]" placeholder="name" value="<%= skill.name %>">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="skill[svg]" placeholder="svg path description" value="<%= skill.svg %>">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" min="0" max="6" name="skill[level]" placeholder="skill level 0-6" value="<%= skill.level %>">
        </div>
        <div class="form-group">
            <% _.categories.forEach(function(category) { %>
                <label class="form-check-label"><input class="form-check-input" type="radio" name="skill[type]" value="<%= category %>" <% if (skill.type === category) { %> checked <% } %>> <%= _.fullName[category] %></label>
            <% }) %>
        </div>
        <div class="form-group">
            <label for="project-features">Abilities</label>
            <textarea id="project-features" name="skill[abilities]" rows="8" placeholder="Enter abilities separated by lines"><%= skill.abilities.join("\r\n") %></textarea>
        </div>
        <button class="btn btn-primary btn-block btn-lg">Submit</button>
    </form>
    <a href="/skills/<%= skill._id %>" class="btn btn-default">Go Back!</a>
</div>


<% include ../partials/footer %>
