<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>This is the skills page.</h1>
        <a class="btn btn-primary" href="/skills/new">Add a New Skill</a>
    </header>

    <%# ===Opportunity to DRY up code here{Create an ejs helper js file and define them there}===%>
    <% _.categories.forEach(function(category, index) { %>
        <div class="container">
            <h3><%= _.fullName[category] %></h3>
            <hr>
            <div class="row text-center">
            <% skills.forEach(function(skill) { %>
                <% if (skill.type === category) { %>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                    <a href="/skills/<%= skill._id %>">
                    <% if (!skill.svg) { %>
                        <% var deviconName = skill.name.replace(/ /g, "").toLowerCase() %>
                        <i class="devicon-<%= deviconName %>-plain colored skill-icon" ></i>
                    <% } else {%>
                    <svg viewBox="0 0 128 128">
                    <%- skill.svg %>
                    </svg>
                    <% } %>
                    <div class="caption"><h4><%= skill.name %></h4></div>
                    </a>
                </div>
                <% } %>
                <% }) %>
            </div>
        </div>
    <% }) %>
</div>

<% include ../partials/footer %>
