<% include ../partials/header %>

<div class="container">
    <h2 class="text-center">Edit <%= project.name %></h2>
    <form action="/projects/<%= project._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="project[name]" placeholder="name" value="<%= project.name %>">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="project[image]" placeholder="image url" value="<%= project.image %>">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="project[url]" placeholder="project url" value="<%= project.url %>">
        </div>
        <div class="form-group">
            <div class="form-group">
                <% _.categories.forEach(function(category) { %>
                    <label class="form-check-label"><input class="form-check-input" type="radio" name="skill[type]" value="<%= category %>" <% if (project.type === category) { %> checked <% } %>> <%= _.fullName[category] %></label>
                <% }) %>
            </div>
        </div>
        <div class="form-group">
            <% skills.forEach(function(skill) { %>
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="project[tag]" value="<%= _.toLowerAndNoSpace(skill.name) %>"
                    <% if (project.tag.indexOf(_.toLowerAndNoSpace(skill.name)) > -1) { %> checked <% } %>
                    > <%= skill.name %>
                </label>
            <% }) %>
        </div>
        <div class="form-group">
            <label for="project-description">Description</label>
            <textarea id="project-description" name="project[description]" rows="2" placeholder="Please enter a brief description of the project"><%= project.description %></textarea>
            <label for="project-features">Features</label>
            <textarea id="project-features" name="project[features]" rows="8" placeholder="Enter features separated by lines"><%= project.features.join("\r\n") %></textarea>
        </div>
        <button class="btn btn-primary btn-block btn-lg">Submit</button>
    </form>
    <a href="/projects/<%= project._id %>" class="btn btn-default">Go Back!</a>
</div>

<% include ../partials/footer %>
