<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>This is the Projects page.</h1>
        <a class="btn btn-primary" href="/projects/new">Add a New Project</a>
    </header>

    <%# ===Opportunity to DRY up code here{Create an ejs helper js file and define them there}===%>
    <div class="container">
        <h3>Front-end</h3>
        <hr>
        <div class="row text-center">
        <% projects.forEach(function(project) { %>
            <% if (project.type === "front-end") { %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/projects/<%= project._id %>">
                            <img src="<%= project.image %>">
                            <div class="caption"><h4><%= project.name %></h4></div>
                        </a>
                    </div>
                </div>
            <% } %>
        <% }) %>
        </div>
    </div>

    <div class="container">
        <h3>Back-end</h3>
        <hr>
        <div class="row text-center">
        <% projects.forEach(function(project) { %>
            <% if (project.type === "back-end") { %>
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <a href="/projects/<%= project._id %>">
                        <img src="<%= project.image %>">
                        <div class="caption"><h4><%= project.name %></h4></div>
                    </a>
                </div>
            <% } %>
        <% }) %>
        </div>
    </div>
    <div class="container">
        <h3>Full-Stack</h3>
        <hr>
        <div class="row text-center">
        <% projects.forEach(function(project) { %>
            <% if (project.type === "full-stack") { %>
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <a href="/projects/<%= project._id %>">
                        <img src="<%= project.image %>">
                        <div class="caption"><h4><%= project.name %></h4></div>
                    </a>
                </div>
            <% } %>
        <% }) %>
        </div>
    </div>
</div>

<% include ../partials/footer %>
