<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <a href="<%= project.url %>"><h2><%= project.name %></h2></a>
        <hr>
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <div class="thumbnail">
                    <a href="<%= project.url %>"><img src="/<%= project.image %>" alt="Image of <%= project.name %> project."></a>
                </div>
                <div class="caption no-display-when-small"><h3><%= project.name %></h3></div>
                <a href="/projects/<%= project._id %>/edit" class="btn btn-primary">Edit</a>
                <form class="delete-form" action="/projects/<%= project._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="col-md-7 col-sm-6 left-align">
                <h3>Description</h3>
                <hr class="line-less-margin">
                <%= project.description %>
                <h3>Features</h3>
                <hr class="line-less-margin">
                <ul class="list-indent">
                    <% project.features.forEach(function(feature) { %>
                        <li><%= feature %></li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
